{% extends 'index.html' %}

{% block home %}
    <table class="container">
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Contact</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        {% for item in page_obj %}
        <tr> 
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.contact }}</td>
            <td>{{ item.city }}</td>
            <td>
                <button>update</button>
                <br>
                <a href="{% url 'delete_emp' item.idemp %}"><button>delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="pages">
        {% include "pages.html" %}
    </div>
    <button class="add_emp" onclick="location.href='/add'">Add Employee</button>
{% endblock %}